<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="BioDB" providerName="System.Data.SqlClient"
    connectionString="Data Source='194.82.34.247';db_1525660_co5027_clothingshop;
    Integrated Security=False;User Id='user_db_1525660_co5027_clothingshop';Password='Farm2015';MultipleActiveResultSets=True" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
